body
{
color: aliceblue;
background-color: black;
}

#retangulo1 
{
    background-color: blue;
}

.retangulos 
{
    position: relative;
    float: left;
    width: 100px;
    height: 200px;
    background-color: brown;
    margin-top: 5%;
    margin-left: 5%;
}